<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"  color="primary">
      <ion-back-button defaultHref="home" text="Volver" mode="ios" ></ion-back-button>
    </ion-buttons>
    <ion-title>setUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1>Agregar Usuario</h1>
  </ion-text>
  <form #LogForm="ngForm" (ngSubmit)="onSubmit()" >
            
    <ion-item class="ion-padding-top">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" required [(ngModel)]="usuario.nombre" name="loguser"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-top">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.clave" required name="logpass" ></ion-input>
      
    </ion-item>
    
    <div class="ion-padding-top">
      <ion-button  type="submit" expand="block">
        Guardar Usuario
      </ion-button>
    </div>
    
  
  
  
  
  </form>
</ion-content>
